package db

import (
	"fmt"

	"github.com/asimmons91/trails"
	"github.com/asimmons91/trails/pack"
	"github.com/asimmons91/trails/pack/driver/sqlite"

	"{{.ModulePath}}/config"
)

func ConnectWithConfig(cfg *config.Config) (*pack.DB, error) {
	dsn := fmt.Sprintf("%s?_txlock=immediate&_time_format=sqlite&_timezone=UTC", cfg.Database.Path)
	for _, p := range cfg.Database.Pragma {
		dsn += fmt.Sprintf("&_pragma=%s", p)
	}

	return pack.Connect(sqlite.New(), dsn)
}

func Connect() (*pack.DB, error) {
	env := trails.Environment()
	cfg, err := trails.LoadConfig[config.Config](env, config.ConfigFS)
	if err != nil {
		return nil, err
	}

	return ConnectWithConfig(cfg)
}
